* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: #777F9E;
	color: white;
	text-align: center;

}

header h1 {
	padding: 10px;
	font-size: 4em;
}
header h2 {
	padding: 10px;
	margin: 10px;
	font-size: 2em;
}

h3 {
	margin-bottom: 20px;
	font-size: 2em;
}
.white, .red, footer {
	padding: 20px 0 20px 20%; 
	font-size: 1.2em;
	/*background: green;*/
}

.red {
	background: #E91E63;
	color: white;
	line-height: 2;
}

@media only screen and (max-width: 900px){
	header h1 {
		font-size: 3em;
	}
	header h3 {
		font-size: 1.5em;
	}
	.red {
		line-height: 1.5;
	}
}